@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid green;
} */

.loading {
  animation-name: animate-loading;
  animation-duration: 2s;
}

@keyframes animate-loading {
  from {
    @apply fixed bg-white z-20 w-screen h-screen;
  }
  to {
    @apply fixed bg-white z-0 w-screen h-screen hidden;
  }
}

.sidebar-open {
  @apply fixed bg-[#222222] text-white z-10 w-3/12 h-screen p-5 border-r-2 border-[#ab5629];

  animation-name: sidebar-muncul;
  animation-duration: 0.5s;
}
.sidebar-close {
  @apply fixed bg-[#222222] text-white z-10 w-3/12 h-screen p-5 border-r-2 border-[#ab5629];
  transform: translate(-340px);
  animation-name: sidebar-tutup;
  animation-duration: 0.5s;
}

.nav {
  @apply fixed flex justify-between items-center w-screen text-white z-10 py-5 px-14;
  animation-name: nav-muncul2;
  animation-duration: 0.5s;
}

.nav-active {
  @apply fixed flex justify-between items-center w-screen text-black border-b-2 bg-white z-10 py-5 px-14;

  animation-name: nav-muncul;
  animation-duration: 0.5s;
}

@keyframes nav-muncul2 {
  from {
    transform: translateY(-90px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes nav-muncul {
  from {
    transform: translateY(-90px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes sidebar-muncul {
  from {
    transform: translate(-340px);
  }
  to {
    transform: translate(0px);
  }
}

@keyframes sidebar-tutup {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(-340px);
  }
}
